@import 'bourbon';
@import 'utils/reset';
@import 'utils/variables';
@import 'modules/snowStuff';
@import 'animations/animations';

html {
	width: 100%;
	height: 100%;
}

body{
	background-image: url('../../img/optimised/winter-mountain_473.jpg');
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.skiPerson {
	width: 508px;
	height: 434px;
	position: absolute;
	left: 10%;
	bottom: 0;
	background-image: url('../../img/skier3.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	z-index: 5;
}

.contentWrap {

}

.pageWrap {

}

.ball {
	position: absolute;
	top: 100px;
	left: 300px;
	width: 100px;
	height: 100px;
	background-color: blue;
	z-index: 50;
	border-radius: 100%;
	@include background(linear-gradient(left,green 25%,yellow 50%,blue 75%));
	background-size: 300px 100px;
	background-position: -300px top;
	background-repeat: no-repeat;
	@include transition(background-position 2s ease);
}

.svgstuff {
	position: absolute;
	top: 0;
	left: 0;
}